* {
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    .container {
        width: 95%;
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

a, p, li {
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

html {
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}
body, #iframe-locate {
    height: 100%;
    overflow: hidden;
}
nav {
    background: lightcoral;
    box-shadow: 0 0 10px gray;
    position: sticky;
    top: 0;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
ul li a {
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    padding: 5px 20px;
    color: white;    
    transition: 0.5s;
    text-align: center;
}
iframe {
    border: none;
    height: 100%;
    width: 100%;
}
nav:hover a{
    padding: 40px 20px;
}
nav a:hover {
    background: rgb(199, 108, 108);
    border-radius: 0;
}

a.active {
    background: rgb(199, 108, 108);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}