:root {
    --text-color: rgb(56, 56, 56);
    --header-linear: linear-gradient(to bottom right, lightblue, rgb(252, 231, 234));
    --body-background: rgb(240, 240, 240);
    --box-background: white;
    --box-border: rgba(128, 128, 128, 0.288);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--text-color);
}

html {
    line-height: 1.5em;
    font-family: Roboto, sans-serif;
}

body {
    background: var(--body-background);
}

header {
    background: var(--header-linear);
    height: 200px;
    align-content: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 5px gray;
}

header h1 {
    text-align: center;
    padding: 10px;
    color: var(--text-color);
}

header p {
    text-align: center;
    font-weight: 200;
    color: var(--text-color);
}

header p .member:not(:last-child) {
    padding-right: 5px;
    border-right: 1px solid gray;
}

.container {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.outbox {
    box-sizing: border-box;
    padding: 20px 0 20px 0;
    background: linear-gradient(to top right, rgb(255, 250, 202), rgb(221, 255, 238));
}

@media screen and (max-width: 1100px) {
    .container {
        width: 95%;
    }
}

.box {
    background: var(--box-background);
    border: 0.5px solid;
    border-color: var(--box-border);
    border-radius: 5px;
    margin: 10px;
    transition: 1s;
    box-sizing: border-box;
    padding: 10px;
}

.box:hover {
    box-shadow: 0 0 3px lightsteelblue;
}

.title {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title a {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
    background: #208C39;
    font-weight: 600;
    font-size: 0.8em;
}

.box h1, .outbox h1 {
    font-size: 1.5em;
}

ul {
    margin: 0;
    list-style-position: inside;
}

table {
    width: 100%;
}

td:last-child {
    text-align: center;
}

.outbox .box {
    background: rgba(255, 255, 255, 0.288);
}

#imgctn {
    display: flex;
    overflow: auto;
}

.imgbox {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid var(--box-border);
    border-radius: 10px;
    width: 500px;
}

.imgbox {
    margin-left: 10px;
}

#imgview {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(114, 114, 114, 0.8);
    top: 0;
}

#imgview a {
    color: white;
    padding: 5px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 9999;
}

#imgview #imgview-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}