
@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
        transition: 0.5s;
    }
}
@media only screen and (max-width: 1000px) {
    .course-box {
        width: 32%
    }
    .course-box:nth-child(4n) {
        margin-right: 2%;
    }
    .course-box:nth-child(3n) {
        margin-right: 0px;
    }
    .course-box:nth-child(1n+7){
        display: none;
    }
    
}
@media only screen and (max-width: 750px) {
    .container {
        width: 93%;
        margin: 0 auto;
        transition: 0.5s;
    }
    .sliderhalf {
        clear: both;
        width: 100%;
        transition: 0.5s;
    }
    
    .footer {
        margin-left: 0px;
        width: 100%;
        clear: both;
    }
    .footer-center {
        margin-top:5px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        width: 95%;
        margin: 0 auto;
        transition: 0.5s;
    }
    
    #menu {
        display: block;
        float: left;
    }
    #dropdown {
        float: left;
        position: absolute;
        z-index: 5;
    }
    #dropdown-content {
        position: relative;
        display: none;
        top: 50px;
        left: 0;
        width: 100%;
        background: rgba(55, 50, 119, 0.95)
    }
    #dropdown-content a {
        text-align: left;
        text-indent: 2em;
        width: 100%;
        box-shadow: #0000002a 0px 1px 2px 1px;
        background-color: rgba(55, 50, 119);
    }
    .course-box {
        width: 49%;
    }
    .course-box:nth-child(3n) {
        margin-right: 2%;
    }
    .course-box:nth-child(2n) {
        margin-right:0px;
    }
    .course-box:nth-child(1n+7){
        display: none;
    }
}
