@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        width: 93%;
        margin: 0 auto;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        width: 95%;
        margin: 0 auto;
        transition: 0.5s;
    }
    .sliderhalf {
        clear: both;
        width: 100%;
        transition: 0.5s;
    }
    #menu {
        display: block;
        float: left;
    }
    #dropdown {
        float: left;
        position: relative;
        z-index: 5;
    }
    #dropdown-content {
        position: absolute;
        display: none;
        top: 50px;
    }
    #dropdown-content a {
        min-width: 300px;
        box-shadow: #0000002a 0px 1px 2px 1px;
    }
}

@media only screen and (max-width: 550px) {}