    * {
        margin: 0px;
        font-family: 'Roboto', 'Arial', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    .container {
        position: relative;
        width: 1000px;
        margin: 0 auto;
    }

    .totop {
        position: fixed;
        right: 5%;
        width: 30px;
        height: 30px;
        bottom: 10px;
        border: 1px solid gray;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.527);
        z-index: 999999;
    }

    .totop span {
        position: relative;
        display: block;
        width: 0px;
        height: 0px;
        margin: 0 auto;
        border: 9px solid transparent;
        border-bottom-color: gray;
    }

    .placeholder {
        width: 100%;
        height: 100px;
        background-color: rgba(55, 50, 119);
    }

    h1 {
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    nav {
        height: 50px;
        box-sizing: border-box;
        box-shadow: #0000002a 0px 1px 2px 1px;
        background: rgba(55, 50, 119, 0.95);
        z-index: 1;
    }

    .navbar_top {
        position: fixed;
        width: 100%;
        top: 0px;
    }

    #navmenu a:hover, a.active {
        background-color: rgba(96, 91, 158);
        transition: 1s;
    }
    #menu {
        display: none;
        width: 50px;
        height: 50px;
        background-color: rgb(95, 91, 163);
        transition: 0.5s;
    }

    #menu span {
        display: block;
        position: relative;
        width: 20px;
        top: 50%;
        left: 50%;
        margin-bottom: 3px;
        border: 1px solid white;
        border-radius: 1px;
        background: white;
        transform: translateY(-250%)translateX(-50%);
    }

    #menu:hover {
        background-color: rgb(117, 113, 182);
        transition: 0.5s;
    }

    #logo {
        position: relative;
        float: left;
        height: 50px;
        margin-right: 10px;
        box-sizing: border-box;
    }

    #logo * {
        color: white;
        display: block;
        position: relative;
        float: left;
        top: 50%;
        transform: translateY(-50%);
    }
    #dropdown-content a {
        color: white;
        text-decoration: none;
        display: block;
        float: left;
        margin-right: 2px;
        padding: 16px 10px 15px 10px;
        box-sizing: border-box;
        background-color: rgb(55, 50, 119);
        transition: 1s;
        z-index: 0;
    }

    #navmenu {
        overflow: hidden;
    }
    .search {
        position: absolute;
        height: 50px;
        right: 0px;
        z-index: 3;
    }

    .search input[type="text"] {
        color: white;
        height: 50px;
        width: 150px;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        background-color: rgba(96, 91, 158, 0.95);
    }

    .search ::placeholder {
        color: white;
    }

    .search input[type="submit"] {
        height: 50px;
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        border: none;
    }

    .mainslider {
        width: 100%;
        height: 200px;
        margin-top: 10px;
        background-color: #09ff99;
        overflow: hidden;
    }

    .mainslider img {
        width: 100%
    }

    .sliderhalf {
        position: relative;
        width: 49.4%;
        height: 200px;
        margin-top: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .sliderhalf img {
        position: absolute;
        width: 100%;
    }

    .sliderhalf-left {
        float: left;
    }

    .sliderhalf-right {
        float: right;
    }

    .slider-linear {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #000000c5, #fafafa00);
    }

    .zoom img {
        transition: 1s;
    }

    .zoom:hover img {
        transform: scale(1.01);
    }

    .sliderhalf p {
        position: relative;
        top: 160px;
        left: 30px;
        color: white;
        font-size: 20px;
    }

    .flowbox {
        height: 300px;
        width: 100%;
        float: left;
        margin-top: 10px;
        box-sizing: border-box;
        background-color: rgb(55, 50, 119);
    }

    footer {
        width: 100%;
        float: left;
        margin-top: 10px;
        background-color: gray;
    }

    .footer {
        width: 33%;
        box-sizing: border-box;
        height: 130px;
        background-color: rgb(153, 0, 255);
    }

    .footer-left, .footer-center {
        float: left;
    }

    .footer-right {
        float: right;
    }

    .footer-center {
        margin-left: 0.5%;
    }