* {
    margin: 0px;
    font-family: 'Roboto','Arial', sans-serif;
}
.placeholder {
    width: 100%;
    height: 100px;
    background-color: #ecffb8;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.navbar {
    height: 50px;
    background: gray;
    box-sizing: border-box;
    box-shadow: #cacaca 0px 1px 2px 1px;
}
.navbar_top {
    position: fixed;
    width: 100%;
    top: 0px;
}
.navmenu a {
    float: left;
    display: block;
    padding: 15px 10px 15px 10px;
    overflow: hidden;
    background-color: coral;
    margin-right: 2px;
    color: white;
}
.search {
    float: right;
    padding: 5px 0px 5px 0px;
    height: 40px;
}
.search input[type="text"] {
    height: 40px;
    box-sizing: border-box;
    border: none;
    padding: 5px;
}
.search input[type="submit"] {
    height: 40px;
    box-sizing: border-box;
    border: none;
}
.slider {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background-color: #09ff99;
}
fieldset {
    border-radius: 10px;
}