@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: Releway;
}
.container {
	margin: 0 auto;
	width: 1110px;
	padding: 15px;
	overflow: hidden;
}
.logo {
	float: left;
	padding: 0;
}
.logo img {
	margin: 0;
}
.clear {
	clear: both;
}
.container nav ul {
	list-style: none;
	float: right;
}
.container nav ul li a {
	text-decoration: none;
	color: #272727;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}
.container nav ul li {
	margin: 37px 0;
	padding: 12px;
	display: block;
	float: left;
}
.container nav ul li:hover {
	background-color: #ff3c41;
}
.container nav ul li:hover a {
	color: #ffffff;
}
.slider {
	width: 100%;
	margin-bottom: 60px;
}
.slider_picture {
	width: 100%;
}
.title h1 {
	font-size: 40px;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 4px;
}
.title h3 {
	font-size: 26px;
	font-weight: bold;
	line-height: 50px;
	margin: 15px 0;
}
.title p {
	font-size: 16px;
	color: #8d8d8d;
	line-height: 30px;
}
.title img {
	margin: 0;
	float: left;
}
.title h3, .title p {
	margin:0 30px;
}