*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto';
    color: #333333;
}

#MeNu {
    width: 100%;
    list-style-type: none;
    background:  #0BA9F9;
    height:60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    border-bottom: 1px solid #fdfdfd;
    display: block;
}

#MeNu .arrow {
   font-size:10px;
   line-height:0%;
} 



/*--------menu cha------*/
#MeNu > ul > li {
   float:left;
   display:inline;
   position:relative;
   font-size:19px;
}
#MeNu > ul > li > a {
   padding:10px 40px;
   display:inline;
   color:white;
}
/*--------menu con------*/
#MeNu li:hover .sub-menu {
   z-index:90;
   opacity:1;
   display: block;
}
.sub-menu {
   width:190%;
   padding:5px 0px;
   position:absolute;
   top:100%;
   left:0px;
   z-index:-1;
   opacity:0;
   display:none;
   background:#0BA9F9;
   line-height: 5px;
  
}


.sub-menu li a:hover, .sub-menu  a {
   color: #fd0627;
   font-size: 15px;
   margin-top: 10px;
}
/*-==========--*/
#MeNu ul{
    float:right;
    margin-right:300px;
}

#MeNu h1{
    display: inline-table;
    font-size: 30px;
    font-family:Harrington;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    margin-left: 250px;
    margin-top:10px;
}

#MeNu ul li{
    display: inline-table;
    width: 120px;
    box-shadow: 1px 3px 2px rgba(231, 216, 13, 0.75);
    height: 50px;
    margin-left:20px;
}
#MeNu ul li a{
    color: #020002;
    text-decoration: none;
    display: block;   
    padding: 14px;
    font-size: 20px;  
    text-align: center;
    white-space: nowrap;
}
#MeNu ul li a:hover{
 
 color: #fd0627;
}
.khoi-slide img {
   width: 100%;
   height: 730px;
   position: relative;   border-bottom: 1px solid #cf1010;
}

.cac-slide {
   width: 100%;
   height: 730px;
   overflow: hidden;
}
.slide {
   width: 100%;
   height: 730px;
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0;
   visibility: hidden;
}
.slide.active{
   opacity: 1;
   visibility: visible;
}
.nut-slide span{
   color: rgb(221, 115, 15);
   font-size: 60px;
   opacity: 0.6;
}
span#btn-prev{
   position: absolute;
   top: 50%;
   left: 0%;
   z-index: 10;
   cursor: pointer;
}
span#btn-next{
   position: absolute;
   top: 50%;
   right: 0%;
   z-index: 10;
   cursor: pointer;
}
.nut-slide ul {
   position: absolute;
   z-index: 10;
   width: 100px;
   bottom: 5%;
   left: 50%;
   margin-left: -50px;
   display: flex;
   justify-content: space-between;
}
.nut-slide ul li {
   width: 20px;
   height: 20px;
   background: rgb(253, 252, 252);
   opacity: 0.6;
   list-style: none;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.6s;
}
.bien-mat-ben-trai{
   animation: bien-mat-ben-trai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-trai{
   from{
       transform: translateX(0%);
   }
   to{
       transform: translateX(-100%);
   }
}
.di-vao-ben-phai{
   animation: di-vao-ben-phai 1s forwards;
}
@-webkit-keyframes di-vao-ben-phai{
   from{
       transform: translateX(100%);
   }
   to{
       transform: translateX(0%);
   }
}
/*xử lý nút prev*/
.bien-mat-ben-phai{
   animation: bien-mat-ben-phai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-phai{
   from{
       transform: translateX(0%);
   }
   to{
       transform: translateX(100%);
   }
}
.di-vao-ben-trai{
   animation: di-vao-ben-trai 1s forwards;
}
@-webkit-keyframes di-vao-ben-trai{
   from{
       transform: translateX(-100%);
   }
   to{
       transform: translateX(0%);
   }
}
.nut-slide ul li.active_nut{
   opacity: 0.8;
}