/*Khi màn hình trình duyệt thấp hơn 1200px thì container sẽ được co lại với độ dài 90% so với chiều ngang trình duyệt*/

@media only screen and (max-width:1200px) {
    .container {
        width: 90%;
    }
}

/*Khi màn hình trình duyệt thấp hơn 1000px thì đặt course-box có độ dài là 32%, đặt lại margin 2% cho các phần tử có thứ tự là bội số của 4, đặt margin là 0 cho các phần tử có thứ tự là bội của 3, ẩn đi các phần tử có thứ tự lớn hơn 6 (chia 3 cột course-box thay vì mặc định là 4)*/

@media only screen and (max-width:1000px) {
    .course-box {
        width: 32%
    }
    .course-box:nth-child(4n) {
        margin-right: 2%
    }
    .course-box:nth-child(3n) {
        margin-right: 0
    }
    .course-box:nth-child(1n+7) {
        display: none
    }
}

/*Khi màn hình trình duyệt thấp hơn 800px thì hiện nút menu bên phải logo, ẩn hết toàn bộ các mục trong dropdown-content, và kết hợp với menu.js có thể hiện ra khi click vào nút menu*/

@media only screen and (max-width:800px) {
    #menu {
        display: block;
        float: left
    }
    #dropdown-content {
        position: absolute;
        display: none;
        top: 50px;
        left: 0;
        width: 100%;
        background: rgba(55, 50, 119, .95)
    }
    #dropdown-content a {
        text-align: left;
        text-indent: 2em;
        width: 100%;
        box-shadow: #0000002a 0 1px 2px 1px;
        background-color: rgba(55, 50, 119)
    }
}

/*Khi trình duyệt có chiều ngang thấp hơn 750px thì..*/

@media only screen and (max-width:750px) {
    /*Container có chiều dài bằng 93% chiều ngang trình duyệt*/
    .container {
        width: 93%;
    }
    /*Chia course-box trong web thành 2 cột, đặt margin-right của các phần tử có bội 3 là 2%, với các phần tử có bội 2 là 0*/
    .course-box {
        width: 49%
    }
    .course-box:nth-child(3n) {
        margin-right: 2%
    }
    .course-box:nth-child(2n) {
        margin-right: 0
    }
}

/*Khi trình duyệt có chiều ngang thấp hơn 650px thì..*/

@media only screen and (max-width:650px) {
    /*Container có chiều dài bằng 95% chiều ngang trình duyệt*/
    .container {
        width: 95%;
    }
    /*Giãn h3 của flowbox ra bằng chiều ngang của trình duyệt*/
    .flowbox-content h3 {
        width: 100%
    }
    /*Giãn các footer-box ra bằng chiều ngang của trình duyệt và đặt margin cho box thứ 2 là 0*/
    .footer-box {
        width: 100%;
    }
    .footer-box:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }
}