/*Ghi đè margin mặc định của trình duyệt cho tất cả các phần tử*/
* {
    margin: 0;
}
/*Bỏ gạch chân của tất cả các thẻ a*/
a:link {
    text-decoration: none;
}
/*Đặt font mặc định của web là Roboto và hiệu ứng cuộn mượt khi cuộn trang web hoặc khi click vào nút totop*/
html {
    font-family: Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
}
/*Đặt chiều cao của trang web và wrapper luôn ở mức 100% để wrapper được kéo dãn tới hết màn hình, đẩy footer luôn luôn nằm bên dưới dùng của trang web*/
body, html {
    height: 100%;
}
.wrapper {
    min-height: 100%
}
/*Đặt chiều ngang mặc định của web và căn giữa nhờ các phần tử được bao bởi class container*/
.container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    transition: 0.1s;
}
/*Nút lên đầu trang được trôi nổi góc dưới bên phải web, luôn luôn nằm trên cùng phần tử khác*/
.totop {
    position: fixed;
    right: 5%;
    width: 30px;
    height: 30px;
    bottom: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    background: rgba(255, 255, 255, .527);
    z-index: 999999;
}
/*vẽ nút mũi tên cho top bằng border cho span*/
.totop span {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border: 9px solid transparent;
    border-bottom-color: gray;
}
/*Đặt thanh nav luôn nằm trên cùng màn hình, kể cả khi cuộn xuống các phần tử bên dưới, nằm trên tương đối so với các phần tử khác và chiều ngang tràn ra 2 bên trình duyệt*/
nav {
    height: 50px;
    box-shadow: #0000002a 0 1px 2px 1px;
    background: #423d85;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
/*Mặc định nút Menu của thanh nav sẽ được ẩn đi*/
#menu {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #5f5ba3;
    position: relative;
}
/*Nút img của menu sẽ luôn nằm giữa menu nhờ 3 thuộc tính top, left và transform, translate(-50%,-50%) sẽ kéo img lên và sang trái 50% so với chiều cao, chiều dài của chính img đó*/
#menu img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#menu:hover {
    background-color: #7571b6;
    transition: .5s;
}
/*Logo*/
#logo {
    float: left;
    height: 50px;
    margin-right: 10px;
}
/*Các phần tử trong logo luôn nằm giữa theo chiều dọc */
#logo * {
    display: block;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}
#logo a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
}
/*Các mục liên kết trên Nav: Khoá học, Bài viết, Thảo luận,...*/
#dropdown-content>a {
    color: #c2c2c2;
    display: block;
    float: left;
    text-align: center;
    padding: 15px 10px 15px 10px;
    box-sizing: border-box;
}
#dropdown-content a:hover, a.active {
    color: #fff;
    transition: .5s;
}
/*Right-menu chứa .account và .mini-search sẽ đè lên logo nếu cửa sổ thu nhỏ quá mức, thay vì tràn xuống khỏi nav*/
.right-menu {
    float: right;
    position: absolute;
    right: 0;
    background: #423d85;
}
.account {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border: 1px solid #708090;
    padding: 5px;
    height: 30;
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 10px;
    transition: .5s;
}
.account:hover {
    background-color: rgba(96, 91, 158, .95);
}
.account>* {
    display: block;
    float: left;
}
.account img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
/*Vẽ mũi tên bên phải img bằng border */
.account span {
    margin-left: 5px;
    position: relative;
    top: 8px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
}
.mini-search {
    position: relative;
    float: left;
    height: 50px;
}
.mini-search>* {
    float: left;
}
/*Đưa img (nút search) của .mini-search trôi lên bên trên mục nhập và cho nó nằm giữa theo chiều dọc*/
.mini-search img {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 0;
}
.mini-search input[type=text] {
    position: relative;
    color: #fff;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    padding: 10px 10px 10px 40px;
    border: none;
    background-color: transparent;
    transition: .5s;
}
/*Khi nút search (nằm trôi trên mục nhập liệu) được click thì mục nhập liệu được focus và tăng chiều dài ra để nhập, đồng nghĩa với .right-menu cũng được tăng chiều dài*/
input[type=text]:focus {
    width: 150px;
    transition: .5s;
}
/*Đặt màu text cho placeholder của mini-search*/
.mini-search ::placeholder {
    color: #fff;
}
/*mailslider được đặt cách 50px để không bị che bởi nav, và background có thể nằm tràn ra khỏi bố cục chính vì nó không được bao bởi container*/
.mainslider {
    width: 100%;
    margin-top: 50px;
    background: url(images/backgrounds/visual-studio-hero-banner.jpg) center center;
    background-size: cover;
    overflow: hidden;
}
.greet {
    margin-top: 40px;
    margin-bottom: 40px;
}
.greet h1, .greet p {
    color: #fff;
    text-shadow: 0 0 5px #000;
}
.greet p {
    font-size: 1.3em;
}
/*Search trong mainslider sẽ được đặt nằm giữa trang*/
.search {
    position: relative;
    width: 390px;
    height: 50px;
    margin: 20px auto 0 auto;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
}
/*Mục nhập liệu được mở rộng ra ngang với .search và nút Search vẫn có chức năng khi ấn vào, sẽ nằm trôi lên mục nhập liệu nhờ .search có position relative*/
.search input[type=text] {
    color: #000;
    font-size: 1.1em;
    outline: 0;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 50px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
}
.search ::placeholder {
    color: gray;
}
/*Sử dụng chung một hình ảnh với mini.search nhưng được invert 60% để hợp với màu nền của .search*/
.search input[type=image] {
    filter: invert(60%);
    float: right;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
}
/*new-course cũng giống như mainslider, không được bao bởi container nên background có thể tràn ra khỏi bố cục web */
.new-course {
    background: #f4f4f4;
    margin-top: 0;
}

h1.title {
    font-weight: 320;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
/*mặc định sẽ có 4 cột course-box xuất hiện trên trang web (với độ rộng 23.5%, margin bên dưới và phải mỗi ô là 2% để tạo khoảng cách*/
.course-box {
    float: left;
    width: 23.5%;
    box-sizing: border-box;
    border-bottom: 3px solid #00ac00;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
    box-sizing: border-box;
    border-radius: 2px;
}
/*sử dụng :nth-child(4n) để đặt margin của những course-box có thứ tự là bội của 4 (các course nằm bên phải cùng của web) về 0 để khớp với kích thước của bố cục*/
.course-box:nth-child(4n) {
    margin-right: 0;
}
.course-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: 0.5s;
}
/*định dạng cho các phần tử trong course-box*/
.course-box img {
    display: block;
    width: 100%;
}
.course-box .source {
    background: #ff0;
    text-align: center;
    width: 90px;
    padding: 5px 5px 5px 5px;
    font-size: .8em;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: -5px;
    text-transform: uppercase;
}
.source a{
    color: black;
    text-align: center;
    font-size: 0.9em;
}
.text-box {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 80px;
    background: #fff;
    position: relative;
}
/*Quy định title của text-box không được xuống dòng, thay vào đó thêm vào dấu 3 chấm ở cuối bằng 3 thuộc tính white-space, text-overflow và oveflow*/
.text-box .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.text-box .title a {
    color: black;
}
.text-box .star span {
    display: inline-block;
}
.text-box .star span img {
    width: 16px;
    height: 16px;
}
/*giữ small-category luôn luôn nằm cố định ở 1 vị trí trong textbox dù text-box có thay đổi về kích thước*/
.text-box .small-category {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.text-box .small-category a {
    color: gray;
    font-size: 0.9em;
}
/*Áp dụng style cho mục xem thêm của new-course*/
.more a {
    color: #fff;
    border-radius: 2px;
    padding: 5px 0;
    text-decoration: none;
    display: block;
    width: 300px;
    background-color: #1d2b3d;
    margin: 0 auto;
    text-align: center;
    font-size: .9em;
    margin-bottom: 20px;
    transition: .5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, .596);
}
.more a:hover {
    transition: .5s;
    background-color: #1b4d8a;
    box-shadow: 0 0 8px rgba(0, 0, 0, .596);
}
/*Áp dụng style cho các phần tử bên trong phần new-post, các phần tử cũng được container giới hạn trong bố cục trang, mỗi bài viết đều có 1 border ở dưới cùng*/
.post {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 145, 140, .308);
    padding-bottom: 10px;
    padding-top: 10px;
}
.post img {
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/*Xoá đi border của bài viết dưới cùng*/
.post:last-child {
    border: none;
}
.post a.title {
    color: #00918b;
    font-weight: bolder;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1em;
}
/*Tương tự như title của course-box, nội dung của bài viết trong post sẽ bị giới hạn trong 1 dòng, thay vào đó là dấu 3 chấm
với p:not(.info) để trỏ tới p trong course-box không có class info
*/
.post p:not(.info) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}
.post p.info {
    font-size: .8em;
}
/*Nút xem thêm của new-post được kéo dài ra full chiều dài*/
a.more_np {
    display: block;
    font-weight: 300;
    color: #00918c;
    background: rgba(128, 128, 128, .075);
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: 1s;
}

a.more_np:hover {
    background-color: #00918c1e;
}
/*flowbox chứa flowbox-content nằm bao trong container, với các phần tử là text được canh giữa và background nằm tràn ra web*/
.flowbox {
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    background: url(images/backgrounds/VS_SiteHeader_1600x500.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 10px;
}
.flowbox-content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.flowbox-content h1{
    font-weight: 400;
    margin-bottom: 10px;
}
/*Giới hạn và căn giữa h3 để dễ nhìn hơn thay vì 1 dòng khi web ở kích thước bình thường*/
.flowbox-content h3 {
    font-weight: 400;
    text-align: center;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.flowbox-content a {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 10px 15px 10px 15px;
    background: #286090;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
}
/*Footer vẫn có thể tràn ra ngoài web được vì chỉ có phần tử của nó được bao bởi container*/
footer {
    width: 100%;
    background-color: #0b1a33;
}

footer hr {
    border: .5px solid gray;
}
/*Footer gồm có 3 box, mỗi box có độ dài 26% so với chiều dài cửa sổ trình duyệt, đều được float sang trái để cùng nằm trên hàng*/
.footer-box {
    width: 26%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
}
/*Mỗi box cách đều nhau 11% nhờ đặt margin trái-phải của box thứ 2 là 11%*/
.footer-box:nth-child(2) {
    margin-left: 11%;
    margin-right: 11%;
}
/*Mỗi footer-box đều có tiêu đề là h4, các danh sách được đặt trong ul li*/
.footer-box h4 {
    color: #d3dbe1;
    text-transform: uppercase;
    font-family: 'Segoe UI', sans-serif;
}
.footer-box ul {
    padding-left: 10px;
}
.footer-box ul li {
    list-style: none;
    margin-top: 10px;
}
.footer-box ul li a {
    font-family: 'Segoe UI', sans-serif;
    color: #d3dbe1;
    font-weight: 400;
}
/*Thanh nganh dưới cùng của footer*/
.footer-bar {
    width: 100%;
    height: 80px;
}
.footer-bar p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #d3dbe1;
    text-align: center;
}
/*Đặt lại float của các phần tử cha có phần tử con hiển thị dưới dạng float, gây ra lỗi bố cục cho các phần nằm bên dưới nhưng ngang hàng hoặc không cùng cấp với cha*/
.container::after, .container::before, #navmenu:after, .courses::after, .posts::after {
    content: "";
    clear: both;
    display: table;
}
